*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Whitney', sans-serif;
}

header{
    background-color: rgb(37, 94, 233);
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: 1343px;
    background-repeat: no-repeat;
    background-position: center;
}


.header-top{
    height: 80px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top.logo{
    margin-left: 50px;
    position:absolute;
    height: 150px;
}

.logo-working{
    height: 80px;
    margin-left: 70px;
}

.menu{
    margin-left: 0;
    margin-right: 40px;
}

.menu a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
}


.enter{
    margin-right: 50px;
}

.accedi{
    background-color: white;
    padding: 5px 10px;
    border-radius: 30%;
    display: inline-block;
    text-align: center;
    border: none;
    
}

.top-section-header{
    background-color: white;
    min-height: 30px;
    width: 85%;
    margin-top: 20px;
}


.header-text{
    height: 300px;
    margin: 0px 100px 100px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1{
    color: white;
    margin-top: 0;
    font-size: 40px;
}

.p {
    color: white;
    margin-left: 30px;
}





.container{
    margin: 0;
    box-sizing: border-box;
}

.study-group{
    background-color: white;
    height: 500px;
    width: auto;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
}

.colonna1{
    background-color: bisque;
    width: 60%;
}

.colonna2{
    background-color: brown;
    width: 40%;
}

.just-chillin{
    background-color: rgb(246, 246, 246);
    height: 500px;
    width: auto;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
}

.fandom{
    background-color: white;
    height: 500px;
    width: auto;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
}

.last-section{
    background-color: rgb(246, 246, 246);
    height: 1000px;
    width: auto;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
}




footer{
    height: 500px;
    background-color: rgb(35, 39, 42);
}


.footer-container{
    display: flex;
    margin: auto;
    height: 400px;
    padding: 60px 60px 80px 60px;
}

.main-column{
    flex-basis: 30%;
    background-color: lightcoral;
}

.main-menu{
    flex-basis: 70%;
    background-color: lightseagreen;
    display: flex;
    justify-content: space-between;
}

.footer-bottom{
    height: 40px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.bottone{
    margin-right: 50px;
}


