*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Whitney', sans-serif;
}

header{
    background-color: rgb(37, 94, 233);
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: 1343px;
    background-repeat: no-repeat;
    background-position: center;
}


.header-top{
    height: 80px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top.logo{
    margin-left: 50px;
    position:absolute;
    height: 150px;
}

.logo-working{
    height: 80px;
    margin-left: 70px;
}

.menu{
    margin-left: 0;
    margin-right: 40px;
}

.menu a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
}


.enter{
    margin-right: 50px;
}

.accedi{
    background-color: white;
    padding: 5px 10px;
    border-radius: 30%;
    display: inline-block;
    text-align: center;
    border: none;
    
}

.top-section-header{
    background-color: white;
    min-height: 30px;
    width: 85%;
    margin-top: 20px;
}


.header-text{
    height: 300px;
    margin: 0px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1{
    color: white;
    margin-top: 0;
    font-size: 40px;
}

.paragraph p {
    color: white;
    margin: 50px 180px 0 180px;
    text-align: center;
}

.button{
    margin-top: 50px;
    margin-left: 50px;
}

.button1{
    background-color: white;
    border-radius: 15px;
    padding: 10px 15px;
    margin-right: 30px;
    text-decoration: none;
}


.button2{
    background-color: rgb(35, 39, 42);
    border-radius: 15px;
    padding: 10px 15px;
    margin-right: 30px;
    text-decoration: none;
}


.link-button2{
    color: white;
}




/* Main e prime tre sezioni uguali */


.container{
    margin: 0;
    box-sizing: border-box;
}

.study-group{
    background-color: white;
    height: 500px;
    width: auto;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
}

.colonna1{
    /* background-color: bisque; */
    width: 50%;
}

.img-section{
    height: 370px;
    width: auto;
}

.colonna2{
    /* background-color: brown; */
    width: 40%;
}

.colonna2 h2{
    font-size: 50px;
    margin-top: 30px;
}

.colonna2 p{
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
}

.just-chillin{
    background-color: rgb(246, 246, 246);
    height: 500px;
    width: auto;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
}

.colonna2jc{
    width: 35%;
    margin-left: 30px;
}

.colonna2jc h2{
    font-size: 50px;
    margin-top: 30px;
}

.colonna2jc p{
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
}

.colonna1jc{
    width: 55%;px
    margin-top: 20;
}



.fandom{
    background-color: white;
    height: 500px;
    width: auto;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
}


/* Ultima sezione grande */

.last-section{
    background-color: rgb(246, 246, 246);
    height: 1400px;
    width: auto;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last-section h2{
    margin-bottom: 70px;
    font-size: 45px;
}

.last-section p{
    font-size: 20px;
    margin: 0 100px 0 100px;
}

.big-image{
    height: auto;
    width: 1000px;
}

.last-section h3{
    font-size: 30px;
    margin-top: 60px;
}

.button-last-section{
    margin-top: 70px;
    text-decoration: none;
    background-color: rgb(114, 137, 218);
    border-radius: 15px;
    padding: 10px 15px;
    margin-right: 30px; 
    color: white;  
}


/* Footer */


footer{
    height: 500px;
    background-color: rgb(35, 39, 42);
}


.footer-container{
    display: flex;
    margin: auto;
    height: 400px;
    padding: 60px 60px 80px 60px;
}

.main-column{
    margin-left: 30px;
    flex-basis: 25%;
    /* background-color: lightcoral; */
}

.main-column h3{
    font-size: 30px;
    color: rgb(113, 137, 218);
}

.lingua{
    margin-top: 20px;
}

.img-flag{
    height: 15px;
    width: auto;
}

.italiano{
    margin-left: 5px;
    color: white;
}

.triangle{
    color: white;
}

.icons{
    margin-top: 20px;
    color: white;
}

i+i{
    margin-left: 20px;
}


.main-menu{
    flex-basis: 70%;
    /* background-color: lightseagreen; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


li{
    list-style-type: none;
    color:white
}

li+li{
    margin-bottom: 10px;
}


.first-item-list{
    color: rgb(113, 137, 218);
    margin-bottom: 10px;

}



.footer-bottom{
    height: 40px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.bottone{
    margin-right: 50px;
}



